<h1 style="color:green;">Create new user:</h1>

<form action="/add_user" method="post">
	Name:
	  <input type="text" name="name" placeholder="name">
	Email Address:
	  <input type="text" name="email" placeholder="email@address.com">
	Password:
	  <input type="text" name="password" placeholder="password">

	  <input type="submit">
  
</form>


<p><a href="/"> Home </a></p>