<h1>Add Category:</h1>

<form action="/categories/create" method="post">

  <input type="text" name="name" placeholder="To-do category">

  <input type="submit">
  
</form>

<p><a href="/"> Home </a></p>