<h2 style="color:red;">Error</h2>

 <% if @error != nil %>
  <%= @error %>
  <% end %>

 <% if @error_object != nil %>
<% @error_object.get_errors.each do |error_message| %>
  <p style="color:red;">*<%= error_message %></p>
<% end %>
<% end %>